<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
<!-- Header -->
<%- include('./partials/headerLogueado') %>
<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>

				<form  action="" method="get">
				<h4 class="file">Imagen</h4>
				<input type="file" name="" id="" placeholder="Ingrese la imagen del producto">
				<h4 class="text">Producto</h4>
				<input type="text" name="" id="" placeholder=""> <br>
				<h4 class="text">Descripción del producto</h4>
				<br><input type="text" name="" id="" placeholder="">
				<h4 class="text">Fecha de creación</h4>
				<br><input type="date" name="" id="" placeholder=""> <br>
				<br>
				<br><button class= "button-product-add" type="submit">Guardar</button>
			</form><br>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>