<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
	<!-- Fin Include Head -->

	<body>
		<!-- Header -->
		<%- include('./partials/headerLogueado') %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper-2">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
							<div class="container products-wrapper-formulario-register">
								<div>
									<!-- Show the "ultimos" products -->
									<form class="form-profile-edit" action="/users/profile" method="get">
										<h4 class="register">E-mail</h4>
										<input class="register" type="email" name="" id="">
										<h4 class="register"> Usuario </h4>
										<input class="register" type="text" name="" id="">
										<h4 class="register">Contraseña</h4>
										<input class="register" type="password" name="" id="">
										<h4 class="register"> Fecha de nacimiento </h4>
										<input class="fecha" type="date" name="" id="">
										<h4 class="register"> Número de documento </h4>
										<input class="register" type="number" name="" id="">
										<h4 class="register"> Foto de perfil </h4>
										<input class="register" type="file" name="" id="">
										<button class="button-register" type="submit"> Editar </button>
									</form>
								</div>
							</div>
					</h2>
				</div>
			</div>


			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>