<!DOCTYPE html>
<html lang="es">
<!--  Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo.jpg" />

	<title> Top Wheels </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<!-- Fin Head -->

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Registrate</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> <i>
						<div class="container products-wrapper-formulario-register">
							<div>
								<div class="col-12">
									<h2 class="products-title"> Crea tu perfil </h2>
								</div>
								<!-- Show the "ultimos" products -->
								<form class="form-register" action="" method="get">
									<h4 class="register">E-mail</h4>
									<input type="email" name="" id="" placeholder="Ingrese su e-mail">
									<h4 class="register"> Usuario </h4>
									<input type="text" name="" id="" placeholder="Ingrese su usuario">
									<h4 class="register">Contraseña</h4>
									<input type="password" name="" id="" placeholder="Ingrese su contraseña">
									<h4 class="register"> Fecha de nacimiento </h4>
									<input type="date" name="" id="" placeholder="Ingrese su fecha de nacimiento">
									<h4 class="register"> Numero de documento </h4>
									<input type="number" name="" id="" placeholder="Ingrese su DNI">
									<h4 class="register"> Foto de perfil </h4>
									<input type="file" name="" id="" placeholder="Ingrese su foto de perfil">
									<br>
									<button type="submit"> Crear </button>
								</form>
							</div>
						</div>

				</h2>
			</div>
		</div>

		<!-- footer -->
	<%- include('./partials/footer') %>
			<!-- /footer -->
</body>

</html>