<!DOCTYPE html>
<html lang="es">
<!--  Head -->

<%- include('./partials/head') %>

<!-- Fin Head -->

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Registrate</h2>
				</div>
				<!-- Show the "ultimos" products -->
								<!-- Show the "ultimos" products -->
								<form class="form-register" action="" method="get">
									<h4 class="register">E-mail</h4>
									<input type="email" name="" id="">
									<h4 class="register"> Usuario </h4>
									<input type="text" name="" id="">
									<h4 class="register">Contraseña</h4>
									<input type="password" name="" id="">
									<h4 class="register"> Fecha de nacimiento </h4>
									<input type="date" name="" id="">
									<h4 class="register"> Número de documento </h4>
									<input type="number" name="" id="">
									<h4 class="register"> Foto de perfil </h4>
									<input type="file" name="" id="" >
									<br>
									<button class= "button-register" type="submit"> Finalizar </button>
								</form>
							</div>
						</div>

			
			</div>
		</div>

		<!-- footer -->
	<%- include('./partials/footer') %>
			<!-- /footer -->
</body>

</html>